@import url(https://fonts.googleapis.com/css?family=Sniglet);
body{
	font-family: 'Sniglet', cursive;
	margin:0px;
	padding:0px;
}
header {
	width:100%;
	margin:0;
	padding:0;
}
	
.top-deco{
	background-color:#0E2E00;
	height:15px;
}

.branding {
	padding:10px;
	background-color:#327117;
	height:
}

.site-name {
	float:left;
}

.login {
	float:right;
}
