@import url(https://fonts.googleapis.com/css?family=Sniglet);
body{
	font-family: 'Sniglet', cursive;
}
header {
	width:100%;
	margin:0;
	padding:0;
}
	
.top-deco{
	background-color:#286308;
	height:40px;
}

.branding {
	padding:10px;
	background-color:#327117;
}

.site-name {
	float:left;
}

.login {
	float:right;
}
