@import url(https://fonts.googleapis.com/css?family=Sniglet);
body{
	font-family: 'Sniglet', cursive;
	margin:0px;
	padding:0px;
}
header {
	width:100%;
	margin:0;
	padding:0;
	background-color:#327117;
}
	
.top-deco{
	background-color:#0E2E00;
	height:15px;
}

.branding {
	padding:10px;
	background-color:#327117;
	height:100px;
	width:70%;
	margin:0 auto;
}

.site-name {
	float:left;
	color:#ffffff;
}

.site-name img {
	float:left;
	margin-right:5px;
}

.login {
	float:right;
	margin-top:27px;
}
